body{
    margin: 0;
    padding: 0;
   
    background-color: black;
    font-family: 'Cabin', sans-serif;
}
html{
    scroll-behavior: smooth;
}

#navbar{
    display: flex;
    position: relative;
    position: sticky;
    top: 0;
    z-index: 1;
}
#navbar::before{
     background-color: rgb(0, 0, 0); 
     content: "";
     height: 100%;
     width: 100%;
     position: absolute;
     top: 0;
     left: 0;
     z-index: -1;
     opacity: 0.4;
     
}
#navbar ul{
    display: flex;
    margin-left: -40px;
}
#navbar ul li{
    list-style: none;
    padding: 10px 15px;
}
#navbar ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}
#navbar #logo{
    margin-left: 20px;
}
#navbar #logo img{
    width: 68px;
}
#home{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 400px;
    width: 100%;
    color: white;
    
}
section::before {
    
    background: url(src/images/bg2.jpg) no-repeat center center/cover;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 151%;
    z-index: -1;
    opacity: 0.5;
    
}     


h1 {
    font-size: 2.3rem;
}

hr {
    color: white;
    width: 45%;
}
p{
    margin-left: 150px;
    margin-right: 150px;
}    
#services{
    background-color: white;
    /* height: 400px; */
    margin-top: 0px;
    margin-bottom: -25px;
    color: black;
   
}
#services h1{
    color: black;
    text-align: center;
    padding-top: 10px;
}
#card-container{
   display: flex;
   justify-content: center;
   text-align: center;
   padding: 10px;

}
.cards{
    border: 2px solid brown;
    border-radius: 30px;
    width: 300px;
    padding: 5px 25px;
    
    margin:0 50px;
    display: flex;
    flex-direction: column;
    background-color: rgba(165, 42, 42, 0.116);
    cursor: pointer;
}
.cards img{
    width: 120px;
    padding: 0 95px;
}
.cards h2{
    text-align: center;
    margin-top:2px ;
    margin-bottom: 10px;
}
#bulk{
    width: 168px;
    padding: 0 56px;
}
#bulk-h2{
    margin-top: 18px;
    margin-bottom: 8px;
}
.cards p{
    margin: 0;
}
#apps-container{
    /* background-color: white; */
    position: relative;
}
#apps-container::before{
    content: "";
    background-color: rgba(255, 255, 255, 0.904);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 1;
}

#apps-container h1{
    text-align: center;
    padding: 16px;
}
.apps{
    display: flex;
    justify-content: center;
    align-items: center;
}  
.apps img{
    width: 150px;
    margin: 15px;
    padding: 0px;
    cursor: pointer;
}  

#contact{
    /* background-color: white; */
    margin-top: -25px;
    color: white;
    position: relative;
    height: 420px;
    /* padding: 10px; */
    
}
#contact::before{
    content: "";
    background: url(src/images/contact.jpg) no-repeat center center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.45;
}
#contact h1{
    text-align: center;
   padding: 10px;
}
#contact-box{
   display: flex;
   justify-content: center;
   align-items: center;
   padding-bottom: 30px;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.3rem;
    border-radius: 8px;
    border: 2px solid gray;
}
#contact-box form{
    width: 40%;
}


footer{
    /* background-color: white; */
    color: white;
    padding: 8px;
    font-size: 0.8rem;
    text-align: center;
}
